<style>
	.tabs {
		height: auto;
		background-color: var(--dark-bar-3);
		display: flex;
		font-size: 12px;
		height: 44px;
	}

	.tabs button {
		margin-right: 15px;
		padding: 10px;
		cursor: pointer;
		margin-bottom: 0;
		outline: none;
		border: none;
		width: 100%;
		height: 100%;
		font-size: 10px;
	}
	.tabs button:not(.selected) {
		background-color: var(--dark-bar-3);
		color:white;
	}
	.tabs button:hover {
		background-color: var(--selection-background);
	}
	.tabs button.selected {
		background-color: var(--selection-background);
	}
	.tabs button:last-child {
		flex: 0;
		margin-left: auto;
	}
	.tabs button.full-screen svg {
		width: 24px;
	}
	.editors {
		flex: 1 1 auto;
		position: relative;
	}
</style>
<div class="editPanel" id="editPanel" ng-controller="EditPanelController" ng-init="init()">

	<!--
		the xml editors are set to use *HTML* so that emmet works ... no idea why it doesn't work when set to xml !
	-->
	<div class="tabs">
		<button class="tab" ng-class="{'selected': editing.xml && layout.showEditor, 'inactive': !layout.showEditor }" ng-click="editXML()">XML</button>
		<button class="tab" ng-class="{'selected': editing.itemsXml && layout.showEditor, 'inactive': !layout.showEditor }" ng-show="activity.hasItems" ng-click="editItemsXml()">Items</button>
		<button class="tab" ng-class="{'selected': editing.css && layout.showEditor, 'inactive': !layout.showEditor  }" ng-show="!!adminSettings.view && (adminSettings.view=='godlike' || adminSettings.view=='demo') " ng-click="editCSS()">CSS</button>
		<button class="tab" ng-class="{'selected': editing.css768 && layout.showEditor, 'inactive': !layout.showEditor }" ng-show="!!adminSettings.view && (adminSettings.view=='godlike' || adminSettings.view=='demo') " ng-click="editCSS768()">CSS 768</button>
		<button class="full-screen" ng-class="{'selected' : layout.editorFullScreen }" ng-click="layout.editorFullScreen = !layout.editorFullScreen">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8V4m0 0h4M4 4l5 5m11-1V4m0 0h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5l-5-5m5 5v-4m0 4h-4" />
			</svg>
		</button>
	</div>

	<div class="editors">

		<div ui-ace="{
			useWrapMode: true,
			showGutter: true,
			onLoad: xmlEditorLoaded,
			mode: 'html'
			}"
			ng-show="editing.xml"
			ng-model="activity.xmlContent"
		></div>
		<div ui-ace="{
			useWrapMode: true,
			showGutter: true,
			onLoad: itemsXmlEditorLoaded,
			mode: 'html',
			}"
			ng-show="editing.itemsXml"
			ng-model="activity.itemsXml"
		></div>
		<div ui-ace="{
			useWrapMode: true,
			showGutter: true,
			onLoad: cssEditorLoaded,
			mode: 'css'}"
			ng-model="activity.css"
			ng-show="editing.css"
		></div>
		<div ui-ace="{
			useWrapMode: true,
			showGutter: true,
			onLoad: css768EditorLoaded,
			mode: 'css'}"
			ng-model="activity.css768"
			ng-show="editing.css768"
		></div>
		<div class="xmlToolButtons" ng-show="adminSettings.view=='godlike' || adminSettings.view=='editor' || adminSettings.view=='demo'">
			<span class="viewerSingleButton" ng-show="(adminSettings.view=='godlike' || adminSettings.view=='editor' && (editing.xml || editing.itemsXml))" accesskey="s" ng-click="saveXML()">Save and preview</span>
			<span class="viewerSingleButton" accesskey="m" ng-show="editing.xml || editing.itemsXml" ng-click="verifyXML()">Verify</span>
			<span class="viewerSingleButton" ng-click="reloadXML()">Reload</span>
			<br/>
		</div>
	</div>

</div>
