<div class="desktopContentContainer" ng-controller="MetadataController" ng-init="init();metaData.type='course';">

	<div class="rcfContentContainer">
		<form class="form-horizontal metadataForm viewerForm" ng-submit="saveMetaData()">
			<fieldset>
				<legend>Level Metadata</legend>

				<label for="meta-data-title">Title</label>
				<input id="meta-data-title" type="text"  ng-model="metaData.title">

				<label for="meta-data-subtitle">Subtitle</label>
				<input id="meta-data-subtitle" type="text"  ng-model="metaData.subtitle" />

				<label for="meta-data-description">Description</label>
				<textarea id="meta-data-description" class="input-xxlarge" ng-model="metaData.description"></textarea>

				<label for="meta-data-component">Component</label>
				<input id="meta-data-component" type="text" ng-model="metaData.component"/>

				<label for="meta-data-level">Level</label>
				<input id="meta-data-level" type="text" ng-model="metaData.level"/>

				<label for="meta-data-sourceType">Source Type</label>
				<span id="meta-data-sourceType">{{metaData.sourceType}}</span>

				<div ng-show = "metaData.alternativeSourceType">
					<label for="meta-data-alternativeSourceType" >Alternative Source Type</label>
					<span id="meta-data-alternativeSourceType">{{metaData.alternativeSourceType}}</span>
				</div>

				<div class="navioThemeContainer" ng-if="projectType==='pbf'">
					<label for="meta-data-navioTheme">Navio Theme</label>
					<select id="meta-data-navioTheme" ng-model="metaData.navioTheme">
						<option></option>
						<option value="group1">group1</option>
						<option value="group2">group2</option>
						<option value="group3">group3</option>
						<option value="group4">group4</option>
					</select>
				</div>

				<label for="meta-data-publish-level">Publish</label>
				<input id="meta-data-publish-level" type="checkbox" class="input-xxlarge" name="meta-data-publish-level" ng-model="metaData.publish"><span ng-click="metaData.publish=!metaData.publish">&#160;Include level in build?</span>

				<label for="meta-data-courseimage">Course Image</label>
				<input id="meta-data-courseimage" ng-model="metaData.courseImage" class="imageChooser" placeholder="choose a course image" type="text" READONLY>
				<span class="viewerSingleButton" ng-click="chooseCourseImage(metaData.courseImage)">Choose</span>
				<br>
				<img ng-show="!!metaData.courseImage" ng-src="{{levelAssetsUrl}}/Level_{{currentLevel}}/assets/images/{{metaData.courseImage}}">

				<label for="meta-data-dashboardimage">Dashboard Image</label>
				<input id="meta-data-dashboardimage" ng-model="metaData.dashboardImage" class="imageChooser" type="text" placeholder="choose a dashboard image" READONLY>
				<span class="viewerSingleButton" ng-click="chooseDashboardImage(metaData.dashboardImage)">Choose</span>
				<br>
				<img ng-show="!!metaData.dashboardImage" ng-src="{{levelAssetsUrl}}/Level_{{currentLevel}}/assets/images/{{metaData.dashboardImage}}">

				<label for="meta-data-navflyoutImage">Flyout Image</label>
				<input id="meta-data-navflyoutImage" ng-model="metaData.navflyoutImage" class="imageChooser" placeholder="choose a flyout image" type="text" READONLY>
				<span class="viewerSingleButton" ng-click="chooseNavFlyOutImage(metaData.navflyoutImage)">Choose</span>
				<br>
				<img ng-show="!!metaData.navflyoutImage" ng-src="{{levelAssetsUrl}}/Level_{{currentLevel}}/assets/images/{{metaData.navflyoutImage}}" >

				<label for="meta-data-instant-feedback-delay">Instant Feedback Delay (milliseconds)</label>
				<input id="meta-data-instant-feedback-delay" type="text" ng-model="metaData.instantFeedbackDelay">

				<label for="meta-data-sourceType">Level Taxonomy Root</label>
				<span id="meta-data-sourceType">{{metaData.levelTaxonomyRoot}}</span>

				<div ng-if="projectType==='blink-spk'" ng-include="'partials/level_spk_metadata.html'"></div>
				<div ng-if="projectType==='old-spk'" ng-include="'partials/level_spk_old.html'"></div>

				<label for="meta-data-styledata">Style Data</label>
				<div class="styleData">
					<div id="meta-data-styledata" ng-repeat="(key, value) in sortedColours(metaData.colors)">
						<label>{{value}}:</label><input title="Colors" class="splitDisplay" value="{{metaData.colors[value]}}" type="text">
						<div class="colorDisplay" style="background-color:{{metaData.colors[value]}}">&#160;</div>
					</div>
				</div>

				<div class="formFooter" ng-show="footerShown">
					<input type="submit" class="hiddenSubmit viewerSingleButton" value="Save" accesskey="S" ng-disabled="submitButtonDisabled">
					<span class="viewerSingleButton" ng-click="saveMetaData()">Save</span>
				</div>

			</fieldset>
		</form>
	</div>
</div>
