<div class="spkMetadata">
    <div class="styleData">
        <div>
            <label for="meta-data-unit-color">Unit colour</label>
            <input class="splitDisplay" type="text" name="meta-data-unit-color" id="meta-data-unit-color" ng-model="metaData.unitColor"><div class="colorDisplay" style="background-color: {{metaData.unitColor}};">&#160;</div>
        </div>
        <div>
            <label for="meta-data-unit-color">Text colour</label>
            <input class="splitDisplay" type="text" name="meta-data-unit-text-color" id="meta-data-unit-text-color" ng-model="metaData.unitTextColor"><div class="colorDisplay" style="background-color: {{metaData.unitTextColor}};">&#160;</div>
        </div>
    </div>
</div>